@import-normalize;
/* html{
  margin:0;
  box-sizing: border-box;
  height: 100%;
}  */

body {
  margin: 0;

  /* box-sizing: border-box;
  height: 100%; */
  /* font-family: "Dancing Script", cursive;
  background-image: url("./images/food.png");
  background-color: rgba(233, 150, 122); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
